:root {
    --color-primary: #073330;
    --background-primary: #ffffff;
}
    
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--color-primary);
    background: var(--background-primary);
}

main {
    background: var(--background-primary);
}